.App {
  text-align: center;
}

/* .box {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 6px;
  overflow-y: scroll;
  overscroll-behavior: contain;
  background-color: #36433e;
} */
